.content {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.17);
  padding-top: 15px;
  h2 {
    text-align: center;
    font-size: 25px;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    &::after {
      content: "";
      width: 66px;
      height: 3px;
      background: #000;
      left: 50%;
      position: absolute;
      bottom: -8px;
      transform: translateX(-50%);
    }
    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
  .write_todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #d0d0c8;
    .todo-input {
      width: 80%;
      padding: 10px 18px;
      font-size: 16px;
      border: 1px solid #d0d0c8;
      border-radius: 5px;
      &:focus {
        outline: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        display: block;
      }
      @media (min-width: 769px) and (max-width: 992px) {
        width: 75%;
      }
    }
    button {
      background: teal;
      color: #fff;
      font-size: 16px;
      padding: 11px 10px;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      &:hover {
        background: #fff;
        color: teal;
        border: 1px solid teal;
      }

      &:focus {
        outline: none;
      }
      @media (max-width: 768px) {
        font-size: 13px;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
      }
    }
    @media (max-width: 992px) {
      display: block;
    }
  }
  .items {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    color: red;
    font-weight: 600;
  }
}

.todo-item {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.remove-item {
  cursor: pointer;
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  &:hover {
    background-color: red;
    color: #fff;
  }
  &:focus {
    outline: none; 
    
  }
  @media (max-width: 992px) {
    height: 25px;
    width: 25px;
    font-size: 20px;
    margin-top: -10px;
  }
}

.todo-item-left {
  display: flex;
  align-items: center;
  input {
    cursor: pointer;
  }
}
.remainingTasks {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 15px;
  font-size: 20px;
  .starTasks {
    color: red;
    font-size: 25px;
    font-weight: bold;
  }
  .endTasks {
    color: green;
    font-size: 25px;
    font-weight: bold;
  }
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
  font-weight: 600;
  text-transform: capitalize;
  @media (max-width: 768px) {
    font-size: 16px;
    margin: 0;
  }
}

.todo-item-edit {
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; //override defaults
  font-family: "Avenir", Helvetica, Arial, sans-serif;

  &:focus {
    outline: none;
  }
}

.is_done {
  text-decoration: line-through;
  color: grey;
}

.task-container {
  padding: 10px 20px;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  margin-bottom: 14px;
  @media (max-width: 992px) {
    margin-top: 10px;
    h2 {
      margin-top: 15px;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.card {
  margin: 30px 0;
}
.card::after {
  clear: both;
  display: block;
  content: "";
}
.card .checkbox-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 0px;
}
.card .circular-container {
  background-color: #0067ff;
}

.input-title {
  clear: both;
  padding: 22px 0px 0px 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 18px;
  width: 14px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #000;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #000;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #000;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
