


<div class="content">
  <p> <span>Day : </span> {{myDate | date:'mediumDate'}}</p>
  <h2>Todo-List</h2>
  <div class="write_todo">
    <input type="text"
    class="todo-input" 
    placeholder="Wirte your Todo Task"
    [(ngModel)]="taskTitle"
    >
   <button (click)="todo()">Add Todo task</button>
  </div>
  
  <!--  -->
  <!-- <div class="items_number">
    <h3><span>4</span>tasks left</h3>
  </div> -->
  <div class="items">
    <div class="todo-item" *ngFor="let task of tasks" @fadeIn>
      <div class="todo-item-left">
        <div class="checkbox-container">
          <label class="checkbox-label">
              <input type="checkbox"  [(ngModel)]="task.completed">
              <span class="checkbox-custom rectangular"></span>
          </label>
          </div>
        <div 
        *ngIf="!task.editing; else editingTask"
        class="todo-item-label" 
        [ngClass]="{is_done : task.completed}" 
        >{{task.title}}
         <img src="../../assets/Blow-Kiss.png" alt="">
      </div>
        <ng-template #editingTask>
          <input type="text" class="todo-list-edit" 
          [(ngModel)]="task.title"
          >
        </ng-template>
        
        <ng-template>
          <input type="text" class="todo-item-edit" >
        </ng-template>
      </div>
      <div class="remove-item" (click)="deleteTodo(task.id)">
        &times;
      </div>
    </div>
  </div>
   
<!-- check all -->
<!-- <div class="check_all">
  <div class="checkbox-container">
    <label class="checkbox-label">
        <input type="checkbox" >
        <span class="checkbox-custom rectangular"></span>
    </label>
    <span class="check_all-txt">check all</span>
    </div>
    <div>
      
    </div>
</div> -->
<div class="task-container">
  <h2>your progress</h2>
  <div class="remainingTasks">
   <span class="starTasks">
    {{remainingTasks()}} 
   </span>
    remaining  out of
    <span class="endTasks">
      {{inProgressTasks()}}  
    </span>
    Tasks
  </div>
</div>

 
</div>




